<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Novo Manipulado</title>
        <link rel="stylesheet" href="css/manipulado.css" />
        <%- include('includes/dependencies-top.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <div class="user-messages hide"></div>
            <h1><i class="far fa-file-alt"></i> Novo Manipulado</h1>
            <hr />
            <form action="#" class="form-main">
                <h3>Utente</h3>
                <label for="nome-utente">Nome</label>
                <input type="text" class="nome-utente form-control" />
                <label for="contacto-utente">Contacto</label>
                <input type="text" class="contacto-utente form-control" />
                <hr />
                <h3>Prescritor</h3>
                <label for="nome-prescritor">Nome</label>
                <input type="text" class="nome-prescritor form-control" />
                <label for="contacto-prescritor">Contacto</label>
                <input type="text" class="contacto-prescritor form-control" />
                <hr />
                <h3>Farmacêutico</h3>
                <label for="preparador-manipulado">Preparador</label>
                <input type="text" class="preparador-manipulado form-control" />
                <label for="supervisor-manipulado">Supervisor</label>
                <input type="text" class="supervisor-manipulado form-control" />
                <hr />
                <h3>Manipulado</h3>
                <label for="lote-manipulado">Lote</label>
                <input type="text" class="lote-manipulado form-control" />
                <label for="nome-manipulado">Nome</label>
                <input
                    type="text"
                    class="nome-manipulado form-control"
                    placeholder="Introduza o nome do manipulado"
                    required
                />
                <label for="forma-farmaceutica">Forma farmacêutica</label>
                <select
                    name="forma-farmaceutica"
                    class="form-control"
                    id="select-forma-farmaceutica"
                    required
                >
                    <option disabled selected value>
                        -- selecione uma opção --
                    </option>
                </select>
                <label for="quantidade">Quantidade a preparar</label>
                <input
                    class="forma-farm-qtd form-control"
                    type="number"
                    required
                />
                <button
                    class="btn btn-primary add-forma-farm-button"
                    type="button"
                >
                    <i class="fas fa-check"></i> Selecionar
                </button>
                <%- include('includes/materias-primas.ejs') %>
                <hr />
                <h3>Preparação</h3>
                <div class="preparacao-container">
                    <label for="preparacao-manipulado"
                        >Modo de preparação</label
                    >
                    <textarea
                        class="preparacao-manipulado form-control"
                        placeholder="Preparação"
                    ></textarea>
                </div>
                <hr />
                <%- include('includes/materiais-embalagem.ejs') %>
                <div class="conservacao-container">
                    <h3>Conservação e prazo de validade</h3>
                    <label for="conservacao-manipulado">Conservação</label>
                    <textarea
                        name="conservacao-manipulado"
                        cols="30"
                        rows="10"
                        class="conservacao-manipulado form-control"
                    ></textarea>
                    <label for="validade-manipulado">Validade</label>
                    <input
                        type="date"
                        class="validade-manipulado form-control"
                    />
                </div>
                <hr />
                <div class="validacao-container">
                    <h3>Validação</h3>
                    <label for="ensaio-validacao">Ensaio</label>
                    <input
                        type="text"
                        placeholder="Ensaio"
                        class="form-control"
                        id="ensaio-validacao"
                    />
                    <label for="especificacao-validacao">Especificacao</label>
                    <input
                        type="text"
                        placeholder="Especificacao"
                        class="form-control"
                        id="especificacao-validacao"
                    />
                    <label for="resultado-validacao">Resultado</label>
                    <input
                        type="text"
                        placeholder="Resultado"
                        class="form-control"
                        id="resultado-validacao"
                    />
                    <button
                        type="button"
                        class="btn btn-primary"
                        id="add-validacao-button"
                    >
                        <i class="fas fa-plus"></i> Adicionar
                    </button>
                </div>
                <div class="validacao-summary">
                    <ul id="validacao-summary-list"></ul>
                </div>
                <hr />
                <h3>Preço</h3>
                <div class="calculos-preco">
                    <p>
                        Forma farmacêutica:
                        <span class="forma-farm-total-price"></span>
                    </p>
                    <p>
                        Matérias-primas:
                        <span class="mat-prima-total-price"></span>
                    </p>
                    <p>
                        Materiais de embalagem:
                        <span class="mat-emb-total-price"></span>
                    </p>
                    <p>IVA: <span class="iva-total-price"></span></p>
                    <p>Total: <span class="total-total-price"></span></p>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button
                    type="button"
                    class="btn btn-primary"
                    id="save-manipulado-button"
                >
                    <i class="fas fa-save"></i> Gravar
                </button>
            </form>
        </div>
        <script type="module" src="js/manipulado/manipulado.js"></script>
        <%- include('includes/dependencies-bottom.ejs') %>
    </body>
</html>
