<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Orcamento</title>
        <link rel="stylesheet" href="css/orcamento.css" />
        <%- include('includes/dependencies-top.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <h1>Orçamento</h1>
            <hr />
            <hr />
            <form action="#" class="form-main">
                <label for="nome-manipulado">Nome</label>
                <input
                    type="text"
                    placeholder="Introduza o nome do manipulado"
                    class="form-control nome-manipulado"
                    required
                />
                <label for="forma-farmaceutica">Forma farmacêutica</label>
                <select
                    id="select-forma-farmaceutica"
                    class="form-control"
                    required
                >
                    <option disabled selected value>
                        -- selecione uma opção --
                    </option>
                </select>
                <label for="forma-farm-qtd">Quantidade</label>
                <input
                    class="form-control forma-farm-qtd"
                    type="number"
                    required
                />
                <button
                    class="btn btn-primary add-forma-farm-button"
                    type="button"
                >
                <i class="fas fa-plus"></i></span> Selecionar
                </button>
                <%- include('includes/materias-primas.ejs') %> <%-
                include('includes/materiais-embalagem.ejs') %>
                <div class="calculos-preco">
                    <p>
                        Forma farmacêutica:
                        <span class="forma-farm-total-price"></span>
                    </p>
                    <p>
                        Matérias-primas:
                        <span class="mat-prima-total-price"></span>
                    </p>
                    <p>
                        Materiais de embalagem:
                        <span class="mat-emb-total-price"></span>
                    </p>
                    <p>IVA: <span class="iva-total-price"></span></p>
                    <p>Total: <span class="total-total-price"></span></p>
                </div>
                <hr />

                <button type="submit" class="btn btn-primary save-button">
                  <i class="fas fa-save"></i> Gravar
                </button>
            </form>
        </div>
        <script type="module" src="js/orcamento/orcamento.js"></script>
        <%- include('includes/dependencies-bottom.ejs') %>
    </body>
</html>
