<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/manipulado.css" />
        <link rel="stylesheet" href="css/pesquisa.css" />
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"
            type="text/javascript"
        ></script>
        <%- include('includes/dependencies-top.ejs') %>
        <title>Pesquisa</title>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <div class="user-messages hide"></div>
            <h1><i class="fas fa-search"></i> Pesquisa</h1>
            <hr />
            <div class="radio-type-selector-container">
                <label
                    ><input
                        type="radio"
                        id="orcamento"
                        name="orcamento"
                        value="orçamento"
                        class="radio-manipulado-orcamento"
                    />
                    Orçamento</label
                >

                <label
                    ><input
                        type="radio"
                        id="manipulado"
                        name="manipulado"
                        value="manipulado"
                        class="radio-manipulado-orcamento"
                    />Manipulado</label
                ><br />
            </div>
            <div class="search-container">
                <form action="/pesquisa" method="POST">
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                            <input
                                id="search-input"
                                class="form-control"
                                name="search-query"
                                type="text"
                                placeholder="Introduza o termo de pesquisa"
                            />
                        </div>
                        <div class="input-field second-wrap">
                            <div class="input-select">
                                <select
                                    class="form-control"
                                    name="search-choices"
                                    id="search-choices"
                                >
                                    <option>Nome</option>
                                    <option>Utente</option>
                                    <option>Forma Farmacêutica</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field third-wrap">
                            <button
                                class="btn btn-primary btn-search"
                                id="btn-search"
                                type="submit"
                            >
                                PROCURAR
                            </button>
                        </div>
                    </div>
                    <input
                        type="hidden"
                        name="_csrf"
                        value="<%= csrfToken %>"
                    />
                </form>
            </div>
            <hr />
            <div class="results-container">
                <form method="POST" class="results">
                    <% if (typeof manipulados !== 'undefined') { %> <% if
                    (manipulados === '') { %>
                    <p>Pesquisa não encontrou resultados!</p>
                    <% } else { %> <% for (manip in manipulados) { %>
                    <div
                        class="result-manipulado-search card-deck"
                        id="manip-<%= manipulados[manip]._id %>"
                    >
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="card-text">
                                    Nome:<span>
                                        <%= manipulados[manip].nomeManipulado
                                        %></span
                                    >
                                </p>
                                <p class="card-text">
                                    Utente:<span>
                                        <%= manipulados[manip].utenteNome
                                        %></span
                                    >
                                </p>
                                <p class="card-text">
                                    Forma Farmacêutica:<span>
                                        <%= manipulados[manip].fFarmNome
                                        %></span
                                    >
                                </p>
                                <p class="card-text">
                                    Data:
                                    <span class="date">
                                        <%= manipulados[manip].createdAt
                                        %></span
                                    >
                                </p>
                            </div>
                            <div class="text-center buttons">
                                <button
                                    class="btn btn-primary btn-view"
                                    type="button"
                                >
                                    Abrir
                                </button>
                                <button
                                    class="btn btn-warning btn-edit"
                                    type="button"
                                >
                                    Editar
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } %> <% } %> <% } %>
                    <input
                        type="hidden"
                        name="_csrf"
                        value="<%= csrfToken %>"
                    />
                </form>
            </div>
        </div>
        <%- include('includes/dependencies-bottom.ejs') %>
        <script type="module" src="js/pesquisa/pesquisa.js"></script>
    </body>
</html>
