<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/manipulado.css" />
        <link rel="stylesheet" href="css/index.css" />
        <%- include('includes/dependencies-top.ejs') %>
        <link rel="stylesheet" href="css/auth.css" />
        <script src="js/auth/validateSignup.js"></script>
        <title>Autenticação</title>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container auth-form-container">
            <% if (errorMessages) { %>
                <div class="user-messages">
                    <% errorMessages.forEach(message => { %>
                    <div class="user-message user-message--error">
                        <%= message %>
                    </div>
                    <% }) %>
                </div>
                <% } %>
            <h1><i class="fas fa-user-plus"></i></i> Registar</h1>
            <hr />
            <!-- Login Form -->
            <form class="auth-form" action="/signup" method="POST" onsubmit="return checkForm(this)">
                <h5>Introduza as suas credenciais de acesso</h5>
                <input
                    type="text"
                    id="primeiroNome"
                    class="primeiro-nome-signup form-control"
                    name="primeiroNome"
                    placeholder="primeiro nome"
                />
                <input
                    type="text"
                    id="apelidoNome"
                    class="apelido-nome-signup form-control"
                    name="apelido"
                    placeholder="apelido"
                />
                <input
                    type="email"
                    id="email"
                    class="email-signup form-control"
                    name="email"
                    placeholder="email"
                />
                <p>A password deve conter no mínimo 8 caracteres, minúsculas, maiúsculas, caracter especial e algarismo.</p>
                <input
                    type="password"
                    id="password"
                    class="password-signup form-control"
                    name="password"
                    placeholder="password"
                />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input
                    type="password"
                    id="confirmPassword"
                    class="password-signup-confirm form-control"
                    name="confirmPassword"
                    placeholder="password"
                />
                <input type="submit" class="signup btn btn-primary" value="Sign Up" />
            </form>
        </div>
        <%- include('includes/dependencies-bottom.ejs') %>
        <script src="js/auth/auth.js"></script>
    </body>
</html>
